<div class = "d-flex align-items-center justify-content-center">
    <h1>Welcome to Scheduled Tweets</h1>
</div>

<h2>Holiwis</h2>

<%= link_to "Connect Twitter", twitter_accounts_path, class: "btn btn-primary" %>

<div class = "mt-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://www.muycomputer.com/wp-content/uploads/2021/08/twitter-1.jpg" class="d-block w-100" alt="https://www.muycomputer.com/wp-content/uploads/2021/08/twitter-1.jpg">
        </div>
        <div class="carousel-item">
        <img src="https://www.altonivel.com.mx/wp-content/uploads/2020/11/historias-fleets-twitter.jpg" class="d-block w-100" alt="https://www.altonivel.com.mx/wp-content/uploads/2020/11/historias-fleets-twitter.jpg">
        </div>
    </div>
</div></div>

